__pycache__
.git
.gitignore
.env
Analytics/
.vscode/
deploy-example/
database/manual.txt
dockershit.txt
Compose.yml
schema.sql
database/manual.txt
imp.txt
nginx.config
text.py
Gmail.Explain.txt
complaint.csv
differentport.txt
creds.json